n8n/workflows/simple-chatbot/workflow.json
{
  "id": "UbClZYprzyZZ2JmI",
  "name": "Simple Chatbot",
  "active": true,
  "nodes": [
    {
      "id": "aaaaaaaa-0000-0000-0000-000000000001",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [0, 0],
      "parameters": {
        "public": true,
        "mode": "hostedChat",
        "authentication": "none",
        "options": {
          "responseMode": "lastNode"
        }
      },
      "webhookId": "470ed3b4-a877-4b7c-8426-ab82e79a1573"
    },
    {
      "id": "aaaaaaaa-0000-0000-0000-000000000002",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [300, 0],
      "parameters": {
        "promptType": "auto",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful agent."
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "aaaaaaaa-0000-0000-0000-000000000003",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [180, 220],
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "credentials": {
        "googlePalmApi": {
          "id": "xEdXDIPxkqE6OLxQ",
          "name": "Harsh Gemini"
        }
      }
    },
    {
      "id": "aaaaaaaa-0000-0000-0000-000000000004",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [420, 220],
      "parameters": {}
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
